<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>av1.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,670},{96,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{96,98}}</string>
				<key>sourceSize</key>
				<string>{103,105}</string>
			</dict>

			<key>back.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,769},{90,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,87}}</string>
				<key>sourceSize</key>
				<string>{90,87}</string>
			</dict>

			<key>bt_anbai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,330},{167,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{167,55}}</string>
				<key>sourceSize</key>
				<string>{173,62}</string>
			</dict>

			<key>bt_anchot.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,386},{167,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{167,55}}</string>
				<key>sourceSize</key>
				<string>{173,62}</string>
			</dict>

			<key>bt_batdau.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,722},{167,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{167,55}}</string>
				<key>sourceSize</key>
				<string>{173,62}</string>
			</dict>

			<key>bt_bocbai.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,778},{167,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{167,55}}</string>
				<key>sourceSize</key>
				<string>{173,62}</string>
			</dict>

			<key>bt_boqua.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,890},{167,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{167,55}}</string>
				<key>sourceSize</key>
				<string>{173,62}</string>
			</dict>

			<key>bt_danhbai.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,834},{167,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{167,55}}</string>
				<key>sourceSize</key>
				<string>{173,62}</string>
			</dict>

			<key>bt_guiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,330},{167,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{167,55}}</string>
				<key>sourceSize</key>
				<string>{173,62}</string>
			</dict>

			<key>bt_sang.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,155},{71,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,93}}</string>
				<key>sourceSize</key>
				<string>{72,94}</string>
			</dict>

			<key>bt_sansang.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,386},{167,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{167,55}}</string>
				<key>sourceSize</key>
				<string>{173,62}</string>
			</dict>

			<key>bt_xepbai.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,442},{167,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{167,55}}</string>
				<key>sourceSize</key>
				<string>{173,62}</string>
			</dict>

			<key>icon-caidat.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,260},{72,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{72,58}}</string>
				<key>sourceSize</key>
				<string>{74,59}</string>
			</dict>

			<key>icon-thoat.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,108},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,65}}</string>
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>

			<key>icon_caidat_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,249},{53,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{53,74}}</string>
				<key>sourceSize</key>
				<string>{57,76}</string>
			</dict>

			<key>icon_cupvang.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,857},{74,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{74,72}}</string>
				<key>sourceSize</key>
				<string>{77,72}</string>
			</dict>

			<key>icon_luu-mk.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,174},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{44,44}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>icon_luu-mk_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,630},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,37}}</string>
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>

			<key>icon_mang_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,769},{58,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,42}}</string>
				<key>sourceSize</key>
				<string>{58,42}</string>
			</dict>

			<key>icon_mang_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,812},{58,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,42}}</string>
				<key>sourceSize</key>
				<string>{58,42}</string>
			</dict>

			<key>icon_mang_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,900},{58,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,42}}</string>
				<key>sourceSize</key>
				<string>{58,42}</string>
			</dict>

			<key>icon_mang_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,857},{58,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,42}}</string>
				<key>sourceSize</key>
				<string>{58,42}</string>
			</dict>

			<key>icon_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,893},{24,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{24,31}}</string>
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>

			<key>icon_sukien_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,555},{52,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{52,74}}</string>
				<key>sourceSize</key>
				<string>{56,76}</string>
			</dict>

			<key>icon_thoigian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,855},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{37,37}}</string>
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>

			<key>icon_trang_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,930},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,31}}</string>
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>

			<key>icon_trang_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,930},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{33,33}}</string>
				<key>sourceSize</key>
				<string>{37,38}</string>
			</dict>

			<key>icon_trochuyen_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,670},{55,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,7},{55,72}}</string>
				<key>sourceSize</key>
				<string>{69,81}</string>
			</dict>

			<key>item_chidan.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,492},{37,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,47}}</string>
				<key>sourceSize</key>
				<string>{37,47}</string>
			</dict>

			<key>item_chuphong.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,108},{35,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{35,27}}</string>
				<key>sourceSize</key>
				<string>{41,33}</string>
			</dict>

			<key>item_popup_id.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,260},{203,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{203,69}}</string>
				<key>sourceSize</key>
				<string>{207,73}</string>
			</dict>

			<key>item_popup_ten.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,492},{131,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{131,62}}</string>
				<key>sourceSize</key>
				<string>{135,66}</string>
			</dict>

			<key>line_thoigian.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,555},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,114}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>

			<key>popup_bar_ch2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{964,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{964,56}}</string>
				<key>sourceSize</key>
				<string>{964,56}</string>
			</dict>

			<key>popup_bt_nho.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,108},{263,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{263,46}}</string>
				<key>sourceSize</key>
				<string>{268,51}</string>
			</dict>

			<key>thongbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,57},{810,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{810,50}}</string>
				<key>sourceSize</key>
				<string>{810,50}</string>
			</dict>

			<key>title_phom1.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,442},{158,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,49}}</string>
				<key>sourceSize</key>
				<string>{158,49}</string>
			</dict>

			<key>title_poker.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,155},{227,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{227,49}}</string>
				<key>sourceSize</key>
				<string>{227,49}</string>
			</dict>

			<key>title_tienlen.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,205},{225,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,54}}</string>
				<key>sourceSize</key>
				<string>{225,54}</string>
			</dict>

			<key>u.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,666},{167,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,55}}</string>
				<key>sourceSize</key>
				<string>{167,55}</string>
			</dict>

			<key>u_den.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,610},{167,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,55}}</string>
				<key>sourceSize</key>
				<string>{167,55}</string>
			</dict>

			<key>u_khan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,554},{167,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,55}}</string>
				<key>sourceSize</key>
				<string>{167,55}</string>
			</dict>

			<key>u_tron.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,498},{167,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,55}}</string>
				<key>sourceSize</key>
				<string>{167,55}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{965,964}</string>
			<key>textureFileName</key>
			<string>GameBaiImage.png</string>
			</dict>
		</dict>
</plist>