<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bt_choingay.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,716},{158,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,53}}</string>
				<key>sourceSize</key>
				<string>{158,53}</string>
			</dict>

			<key>bt_taoban.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,842},{158,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,53}}</string>
				<key>sourceSize</key>
				<string>{158,53}</string>
			</dict>

			<key>ic-songuoichoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,770},{36,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,29}}</string>
				<key>sourceSize</key>
				<string>{36,29}</string>
			</dict>

			<key>icon-tailai.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,829},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,45}}</string>
				<key>sourceSize</key>
				<string>{34,45}</string>
			</dict>

			<key>item_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,740},{158,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,53}}</string>
				<key>sourceSize</key>
				<string>{158,53}</string>
			</dict>

			<key>item_maubinh.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,420},{157,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,177}}</string>
				<key>sourceSize</key>
				<string>{157,177}</string>
			</dict>

			<key>item_ngchoi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,818},{158,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,23}}</string>
				<key>sourceSize</key>
				<string>{158,23}</string>
			</dict>

			<key>item_ngchoi_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,716},{158,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,23}}</string>
				<key>sourceSize</key>
				<string>{158,23}</string>
			</dict>

			<key>item_ngchoi_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,794},{158,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,23}}</string>
				<key>sourceSize</key>
				<string>{158,23}</string>
			</dict>

			<key>item_ngchoi_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,691},{160,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,24}}</string>
				<key>sourceSize</key>
				<string>{160,24}</string>
			</dict>

			<key>item_phom.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,742},{153,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,147}}</string>
				<key>sourceSize</key>
				<string>{153,147}</string>
			</dict>

			<key>item_tamgiac.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,800},{35,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,28}}</string>
				<key>sourceSize</key>
				<string>{35,28}</string>
			</dict>

			<key>item_tienlen.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,598},{156,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,143}}</string>
				<key>sourceSize</key>
				<string>{156,143}</string>
			</dict>

			<key>line-banchoi-doc.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,420},{1,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1,403}}</string>
				<key>sourceSize</key>
				<string>{1,403}</string>
			</dict>

			<key>line-banchoi-ngang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,418},{904,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{904,1}}</string>
				<key>sourceSize</key>
				<string>{904,1}</string>
			</dict>

			<key>popup-chonbanchoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{908,417}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{908,417}}</string>
				<key>sourceSize</key>
				<string>{908,417}</string>
			</dict>

			<key>popup_item_tiencuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,420},{193,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,270}}</string>
				<key>sourceSize</key>
				<string>{193,270}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{909,896}</string>
			<key>textureFileName</key>
			<string>LobbyGameBai.png</string>
			</dict>
		</dict>
</plist>